body {
  font-family: sans-serif;

  background-size: 100%;
  background-repeat: no-repeat;
}

.main {
  overflow: hidden;
  padding: 16px;
  background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.navigation-title {
  font-size: 28px;
  font-weight: 800;
  line-height: 35.28px;
  text-align: left;
}

.btn-blue {
  padding: 12px 24px;
  background: rgba(19, 24, 63, 1);
  border-radius: 25px;

  color: white;
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
}

content {
  flex: 1 1 auto;
}

.top-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.top-section-title {
  font-size: 40px;
  font-weight: 800;
  line-height: 50.4px;
  text-align: left;
  padding-bottom: 12px;
}

.top-section-about {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  padding-bottom: 24px;
  color: rgba(131, 134, 154, 1);
}

.orengred-btn {
  padding: 16px 24px;
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  border-radius: 25px;

  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
}

.mobile-img {
  display: block;
  width: 100%;
}
.tablet-img {
  display: none;
}

.desktop-img {
  display: none;
}

.orangered-top-box {
  margin-bottom: 44px;
}

.orangered-top-box {
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  padding: 48px 32px;
  width: 343px;
  height: 259px;
  border-radius: 15px;
  text-align: center;
}

.orengered-text {
  font-size: 24px;
  font-weight: 800;
  line-height: 24px;
  color: #fff;
}

.courses {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.course {
  position: relative;
  width: 343px;
  height: 259px;
  padding: 48px 12px;
  border-radius: 16px;
  margin: 0 auto;
  background-color: #fff;
}
.courses-img {
  position: absolute;
  top: -24px;
  left: 0;
}

.courses-title {
  font-size: 20px;
  font-weight: 800;
  line-height: 25.2px;
  color: rgba(19, 24, 63, 1);
}

.courses-about {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: rgba(131, 134, 154, 1);
}

.started-link {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: rgba(247, 71, 128, 1);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 48px 32px;

  background: rgba(19, 24, 63, 1);
}

.footer-title {
  font-size: 28px;
  font-weight: 800;
  line-height: 35.28px;
  text-align: left;
  color: #fff;
}

.footrer-btn {
  padding: 12px 24px;
  border-radius: 25px;
  color: #fff;
  background: linear-gradient(180deg, #4851ff 0%, #f02aa6 100%);
}

@media (min-width: 768px) {
  .top-section {
    flex-direction: row;
  }

  .mobile-img {
    display: none;
  }
  .tablet-img {
    display: block;
    width: 100%;
    transform: translate(150px, -10px);
  }

  .courses {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }

  .orangered-top-box {
    margin-left: 72px;

    width: 343px;
    height: 259px;
  }
}

@media (min-width: 1440px) {
  .top-section-text {
    width: 457px;
    height: 559px;
  }

  .mobile-img {
    display: none;
  }
  .tablet-img {
    display: none;
    width: 100%;
  }

  .desktop-img {
    display: block;
    transform: translate(450px, -150px);
  }
  .courses {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
  }

  .course {
    width: 343px;
    height: 259px;
    border-radius: 16px;
    margin-bottom: 42px;
  }

  .orangered-top-box {
    background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
    border-radius: 16px;

    width: 343px;
    height: 259px;

    font-size: 32px;
    font-weight: 800;
    line-height: 40px;
    text-align: left;
  }
}
